@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
.column1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  gap: 1.5rem;
}
.dashBoardContainer {
  background-color: #eaf0f2;
}
.col1Head {
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}
.col1SubHead {
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: 1.3rem;
  width: 35vw;
}
.col1Right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.column2 {
  background-color: #f5f2eb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}
.col2right img {
  width: 35rem;
}
.col2SubHead1 {
  font-family: "Playfair Display", serif;
  text-align: center;
  width: 40vw;
}
.col2Header {
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: #13472e;
}
.col2Left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
