@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap");
.landing-main {
  height: auto;
  width: 100%;
  background-image: url("../assets/loadingback.png");
  background-position: center, center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mainPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainSlowgan {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  font-weight: 900;
  color: #045346;
  text-align: center;
  font-family: "Protest Riot", sans-serif;
}
.subSlowgan {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-align: center;
  margin-top: -2rem;
}
.learnBtn button {
  background-color: #045346;
  margin-top: 1rem;
  border: none;
  height: 3.5rem;
  width: 9.5rem;
  color: #f5d560;
  font-size: 1.3rem;
  border-radius: 1rem;
}
.col2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.col2Slow {
  width: 50vw;
  text-align: center;
  font-family: "Protest Riot", sans-serif;
  font-size: 2rem;
  color: black;
  font-weight: bolder;
}
.mission {
  font-size: 1.3rem;
  font-weight: bolder;
}
.col3 {
  background-color: #fae0e7;
  display: flex;
  padding-top: 3rem;
  align-items: center;
  height: 80vh;

  justify-content: center;
  gap: 3rem;
}
.col3Card img {
  width: 90%;
}
.col3Card {
  height: 50vh;
  width: 15vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}
.head {
  font-size: 1.2rem;
  font-weight: bolder;
}
.col4 {
  background-color: #fae0e7;
  width: 100%;
  height: 60vh;
  display: flex;

  justify-content: center;
  align-items: center;
}
.clo4Container {
  width: 60vw;
  height: 80%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.clo4header {
  font-size: 3rem;
  font-weight: bolder;
  font-family: "Protest Riot", sans-serif;
  margin-bottom: 1rem;
  left: 0px;
}
.problems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 1rem;
  cursor: pointer;
  color: #f5d560;
}
.problem {
  width: 16vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  height: 3rem;
  background-color: #045346;
  border-radius: 1rem;
}
