.userRow {
  display: flex;
  align-items: center;
  margin-left: 3rem;
  gap: 2rem;
  height: 40vh;
}
.userLeft img {
  width: 20vh;
  width: 20vh;
}
.name {
  font-size: 1.3rem;
  font-weight: bold;
}
.Email {
  font-size: 1rem;
  font-weight: bold;
}
.appoinmentContainer {
  display: flex;
  height: 35vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 0px;
  overflow-y: scroll;
}
.appoinmentContainer::-webkit-scrollbar {
  display: none;
}
.appoinments {
  display: flex;
  gap: 5rem;
}
.appoinments p span:nth-child(1) {
  color: #045346;
  font-weight: bold;
  font-size: 1.3rem;
}
